.panel{
    height:40em; background-size:cover;
     background-image:url('../assets/images/b.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position:center;
     background-size: contain;


}